*{
    margin: CENTER;
    padding: CENTER;
}

body{
  
    display:flex;
    background: #505050;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 40px;
}

#Graficos{
    width: 100%;
}

#Console{
    width: 100%;
}
